body{
    background-color: rgb(235, 203, 123); 
}
table{
    border-collapse: collapse;
    
}
th{
    background-color:rgb(230, 92, 92)
    ;
    color:white;
    margin: auto;
    padding: 5mm 5mm 5mm 5mm; 
}
td{
    padding: 40px 120px 40px 120px;
    color:rgb(117, 27, 11);

    
    
}
tr:nth-child(even) {background-color: rgb(105, 238, 105)}
tr:nth-child(odd) {background-color: rgb(157, 157, 221)}
th:hover{
    background-color: rgb(255, 255, 255);
    color: black
}
td:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0)
}